body {
    background-color: #004225; /* British racing green. Patone colour of the year #FFBE98 */
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.navbar {
    background-color: transparent !important;
    max-width: 42em;
    margin: 0 auto;
    padding: 0 1rem;
}
.cover-container {
    max-width: 42em !important;
    text-align: center;
    margin: auto;
}
.cover-heading {
    font-size: 2.5rem;
}