<li>
  <a class="dropdown-item" href="https://cloud.itsbillw.eu/" target="_blank" rel="noopener">Nextcloud</a>
</li>
<li>
  <a class="dropdown-item" href="https://jelly.itsbillw.eu/" target="_blank" rel="noopener">Jellyfin</a>
</li>
<li>
  <a class="dropdown-item" href="https://books.itsbillw.eu/" target="_blank" rel="noopener">Audiobookshelf</a>
</li>
<li>
  <a class="dropdown-item" href="https://metabase.itsbillw.eu/" target="_blank" rel="noopener">Metabase</a>
</li>
<li>
  <a class="dropdown-item" href="https://dashboard.itsbillw.eu/" target="_blank" rel="noopener">Homarr</a>
</li>
<li>
  <a class="dropdown-item" href="https://minio-console.itsbillw.eu/" target="_blank" rel="noopener">MinIO</a>
</li>
<li>
  <a class="dropdown-item" href="https://status.itsbillw.eu/" target="_blank" rel="noopener">Status</a>
</li>
<li>
  <a class="dropdown-item" href="https://monitor.itsbillw.eu/" target="_blank" rel="noopener">Netdata</a>
</li>
