{% extends "home/base.html" %}
{% load static %}

{% block header %}
<title>itsbillw - Data</title>
{% endblock %}


{% block content %}
<!-- Main Content -->
<main class="cover-container container">
<section class="text-center py-5">
    <div class="container">
        <h2 class="display-5">About Bill</h2>
        <p class="mb-3">
            Irish wanderlust currently based in Madrid. I've lived and worked in Ireland,
            Luxembourg, Poland, the USA, and Spain over the past 15 years. I love photography, music, food, and tech.
        </p>
        <p>Always learning, and this site is my outlet for exploring tech and data.</p>
    </div>
</section>
</main>
{% endblock %}