{% extends "home/base.html" %}
{% load static %}

{% block header %}
<title>itsbillw - Data</title>
{% endblock %}


{% block content %}
<!-- Main Content -->
<main class="cover-container container">
    <section class="text-center py-5">
        <div class="container">
            <h2 class="display-5">Data</h2>
            <p class="mb-3">
                Coming soon! The plan involves something along the lines of exploring a football data API,
                experimenting with ETLs, and creating visualizations with tools like Plotly Dash.
                Data Quality, Governance, and Explainability will be priorities.
            </p>
        </div>
    </section>
</main>
{% endblock %}